<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46052283570-8acnb01j34i0sf1hohjdodf6ruh822ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46052283570-8acnb01j34i0sf1hohjdodf6ruh822ms</string>
	<key>API_KEY</key>
	<string>AIzaSyCh6AEg5Xzj5oUNWMKMPp3z_6Ksrq7s9UI</string>
	<key>GCM_SENDER_ID</key>
	<string>46052283570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gustogourmet</string>
	<key>PROJECT_ID</key>
	<string>gusto-gourmet-79829</string>
	<key>STORAGE_BUCKET</key>
	<string>gusto-gourmet-79829.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46052283570:ios:ecda8ffc069bf5edb7a5ab</string>
	<key>DATABASE_URL</key>
	<string>https://gusto-gourmet-79829.firebaseio.com</string>
</dict>
</plist>